* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden; /* Remove scrollbars. */
}

canvas {
  cursor: crosshair;
  margin: 0 auto;
}

input[type="range"] {
  display: none;
  width: calc(100% - 30px);
}

@media (min-width: 1025px) {
  input[type="range"] {
    display: block;
  }

  input[type="color"] {
    display: none;
  }
}

select {
  width: 100%;
  height: 30px;
  background: white;
}

button {
  -webkit-appearance: none;
  border: none;
}

.controls {
  position: fixed;
  left: calc(100% + 10px);
  top: 0;
  height: 100vh;
  width: calc(100vw - 70px);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  transition: all .2s;
  background: #fafafa;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.3);
  will-change: transform;
}

.controls.js-expanded {
  transform: translatex(calc(-100% - 10px));
}

.btn-controls {
  position: absolute;
  top: 10px;
  right: calc(100% + 20px);
  height: 40px;
  width: 40px;
  text-indent: -100vw;
  overflow: hidden;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all .2s;
}

.btn-controls:after {
  content: "☰";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 0;
  line-height: 40px;
  font-size: 30px;
}

.btn-controls.js-expanded {
  transform: rotate(-90deg);
}

.container {
  padding: 20px 10px;
}

.container-quickcolor {
  display: flex;
  height: 80px;
}

.container-quickcolor > * {
  flex: 1;
  margin-right: 1px;
  cursor: pointer;
}

.container-erase {
  padding: 0;
}

.btn-clear {
  flex-basis: 80px;
  flex-grow: 0;
  background: transparent;
  cursor: pointer;
}

.btn-erase {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-indent: -100vw;
  width: 60px;
  height: 120px;
  overflow: hidden;
  border-radius: 10px;
  border: solid 5px #999;
  background: transparent;
  transform: rotate(80deg);
  cursor: pointer;
  transition: all .2s;
}

.btn-erase.js-enabled {
  background: pink;
  border-color: #888;
}

.hue-current {
  display: none;
  vertical-align: top;
  width: 20px;
  height: 20px;
}

@media (min-width: 1025px) {
  .hue-current {
    display: inline-block;
  }
}

.width-current {
  display: inline-block;
  width: 20px;
  text-align: right;
}

@media (min-width: 600px) {
  input[type=range]::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
  }

  .controls {
    display: flex;
    align-items: center;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: none;
    height: auto;
    transform: translatey(100%);
  }

  .controls.js-expanded {
    transform: translatey(0%);
  }

  .btn-controls {
    top: -60px;
    right: 20px;
  }

  .controls > * {
    flex: 1;
  }

  .btn-clear {
    flex-basis: 0;
    flex-grow: 0;
  }

  .container {
    padding: 0 10px;
  }

  .container-quickcolor {
    height: 40px;
  }

  .container-erase {
    flex-basis: 150px;
    flex-grow: 0;
    padding: 20px 10px;
  }

  .btn-erase {
    width: 30px;
    height: 60px;
    transform: rotate(30deg);
  }
}
